.list-card-labels .card-label {
  border-radius: 4px;
  font-size: 0.8em;
  height: auto;
  line-height: 10px;
  padding: 4px 6px;
  text-shadow: none;
  width: auto;
  min-width: 16px;
}

.active-card .card-short-id {
  display: inline;
  margin-right: 5px;
  color: #333;
  font-weight: bold;
}
.card-short-id:hover {
  color: grey;
}
