/*==== LABEL TEXT ====*/
/* Label text is already there by default in Trello, it is just hidden */
.TSP-label-enabled .list-card-labels .card-label {
  border-radius: 4px;
  font-size: 0.8em;
  height: auto;
  line-height: 10px;
  padding: 4px 6px;
  text-shadow: none;
  width: auto;
  min-width: 16px;
  max-width: 100%;
}

/*==== CARD ID ====*/
.TSP-id-enabled .card-short-id {
  display: inline;
  margin-right: 5px;
  color: #333;
  font-weight: bold;
}

.TSP-id-enabled .card-short-id:hover {
  color: grey;
}

.TSP-id-enabled.onlyShowOnHover .card-short-id {
  display: none;
}
.TSP-id-enabled.onlyShowOnHover .active-card .card-short-id {
  display: inline;
}

/*==== CARDS PER LIST ====*/
/* This is already there by default in Trello, it is just hidden */
.TSP-numberOfCards-enabled .list-header-num-cards.hide {
  display: block;
}

/*==== COMPACT MODE ====*/
.compact-mode-button {
  padding-left: 8px;
  margin-left: 4px;
}
.TSP-compact-enabled.compact-mode div.board-header-btns.mod-left a.board-header-btn.compact-mode-button {
  background-color: rgba(0, 0, 0, 0.14);
}
.TSP-compact-enabled.compact-mode .list-card-cover,
.TSP-compact-enabled.compact-mode .list-card-details .badges,
.TSP-compact-enabled.compact-mode .list-card-members,
.TSP-compact-enabled.compact-mode .list-card-stickers-area,
.TSP-compact-enabled.compact-mode .list-card-labels {
  display: none;
}
.TSP-compact-enabled.compact-mode .list-card.is-stickered .list-card-details {
  margin-top: 0;
}

/*==== RESIZABLE LISTS ====*/
.resize-element {
  height: 100%;
  width: 8px;
  cursor: col-resize;
  margin: 0px;

  /* borrowed from Trellos .list-wrapper*/
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
}
.list-card {
  max-width: none;
  min-width: none;
}
